.allWipepage {
    text-align: center;
    margin: 3%;
  }
  

.wipeTag{
    background-color: #ccc;
    margin-right: 45%;
    font-weight: bold;
}

.wipePrice{
    font-weight: bold;
}

.wipeComment{
  color: #605e5e;
}
  

.allWipepage  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }

  .allWipepage  li {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  


  .imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  
  .wipeImage {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out; 
  }
 
  .hoverImage {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out; 
  }
  
  
  .imageContainer:hover .wipeImage {
    opacity: 0;
  }
  
  .imageContainer:hover .hoverImage {
    opacity: 1;
  }